<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up, <%= @user.first_name %>!</h1>
    <p>After an administrator approves your account, feel free to login with your credentials.</p>
    <%= render partial: "user_notifier/shared/signature" %>
  </body>
</html>
