<div class="jumbotron indextron">
	<h1 class="text-center">Uh oh..</h1>
	<p class="lead text-center">
	   You seem to be at a gym that you do not belong to. <br>
	   Please see a staff member for more information.
	</p>
</div>
