<div class="jumbotron indextron">
	<h1 class="text-center">You're dues are due.. uncool!</h1>
	<p class="lead text-center">
	   Please either see a staff member or pay now.
	</p>
	<p class="lead text-center">
		Alternatively, you can renew online at: <br>
		https://crossfit6817.com/shop/
	</p>
	<div class="text-center">
		<%= link_to 'Pay Now', pay_path, class: "btn btn-primary", target: "_blank" %>
	</div>
</div>
