<div class="border-form-div">
	<p class="text-center">
		I have enrolled in a program of strenuous physical activity including but not limited to, a variety of group exercise classes, weight training, stationary bicycling and various aerobic conditioning machinery offered by “CROSSFIT 6817”.  I hereby affirm that I am in good physical condition and do not suffer from any disability which would prevent or limit my participation in this exercise program.  In consideration of my participation in a “CROSSFIT 6817” exercise program, I, for myself, my heirs and assigns, hereby release “CROSSFIT 6817” (its employees and owners), from any claims, demands, and causes of action, now or in the future, arising from my participation in the exercise program.  I fully understand that I may injure myself as a result of my participation in “CROSSFIT 6817” exercise programs including, but not limited to miscarriage, heart attack, muscle strains, pulls, or tears, broken bones, shin splints, heat prostration, knee, lower-back, and foot injuries and any other illness, soreness, or injury however caused occurring, during or after my participation in the exercise program. It is recommended that you consult with your physician prior to beginning any exercise program offered by “CROSSFIT 6817” and/or any of its affiliates.
	</p>
	<div class="row-fluid text-center">
	 	<%= link_to "Back", new_user_session_path, class: "btn btn-primary" %>
	</div>
</div>
